.container-limited.limit-container-width {
	max-width: 1800px;
}
span.o {
  color: #d73a49;
}
span.kc {
  color: #005cc5;
}
.title {
  font-weight: 500;
}
.diff-file .diff-content table .line_holder td {
  line-height: 20px;
}
.code.white .line_holder .line_content.new {
  background-color: #e6ffed;
}
.code.white .line_holder .line_content.old {
  background-color: #ffeef0;
}
.code.white .na {
  color: #005cc5;
}
.diff-file .diff-content .line_content {
  padding: 0 8px;
}
.code.white,
.code.white pre.code,
.code.white .line_holder .line_content {
  color: #24292e;
}
.code.white .line_holder .line_content.new span.idiff {
  color: #acf2bd;
}
.file-title-flex-parent {
  padding: 5px 10px;
  background-color: #fafbfc;
  border-bottom: 1px solid #e1e4e8;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.code.white .line_holder .line_content.match {
  background-color: #f1f8ff;
}
a[data-linenumber] {
  width: 1%;
  min-width: 100%;
  padding: 0 1rem;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  line-height: 20px;
  color: rgba(27, 31, 35, 0.3);
  text-align: right;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a[data-linenumber]:hover {
  color: rgba(27, 31, 35, 0.7);
}
.code.white .line_holder .diff-line-num.new {
  background-color: #cdffd8;
  border-color: #cdffd8;
}
.code.white .line_holder .diff-line-num.old {
  background-color: #ffdce0;
  border-color: #ffdce0;
}
.code.white .diff-line-num,
.code.white .diff-line-num a {
  color: rgba(27, 31, 35, 0.3);
}
.code.white .line_holder.diff-expanded>.diff-line-num,
.code.white .line_holder.diff-expanded>.line_content {
  background: #fafbfc;
}
.code.white .c1 {
  color: #6a737d;
}
.code.white .cm {
  color: #6a737d;
}
.code.white .line_holder .line_content.hll:not(.empty-cell) {
  background-color: #fffbdd;
}
.code.white .line_holder .line_content.new span.idiff {
  color: #222;
}
.tab-content,
.files {
  overflow: visible;
  max-width: 2000px;
  margin: 0 auto;
}
.file-title-name.has-tooltip {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  line-height: 32px;
  font-weight: normal;
}
.file-title-flex-parent .btn-clipboard {
  top: 6px;
}
.navbar-gitlab.navbar-gitlab {
  position: relative;
}
.merge-request-tabs-holder {
  top: 0;
  position: relative;
}
.diff-files-changed {
  position: relative;
  top: 0;
}
.content-wrapper {
  margin-top: 1rem;
  padding: 1rem 0;
  padding-bottom: 8rem;
}
.nav-sidebar.sidebar-collapsed-desktop {
  height: 450px;
}
.nav-sidebar.sidebar-collapsed-desktop {
  position: absolute;
  top: 0;
  border-bottom: 2px solid #e5e5e5;
}
.code.white .kd {
  color: #d73a49;
  font-weight: 400;
}
.code.white .k {
  color: #d73a49;
  font-weight: 400;
}
.diff-file .diff-content table .line_holder td {
  background-color: white;
}
.file-holder {
  border: 1px solid #efefef;
}
.code.white .line_holder .diff-line-num.new a {
  color: rgba(27, 31, 35, 0.3)
}
.right-sidebar.right-sidebar-collapsed {
  position: absolute;
  display: block;
  height: 530px;
  top: 0;
  border-bottom: 1px solid #e0dfdf;
}
.diff-file .diff-content .line_content.new::before {
  content: "";
}
.diff-file .diff-content .line_content.old::before {
  content: "";
}
